a {
    text-decoration: none;
    list-style: none;
}

.dataEnter_input {
    margin-bottom: 25px;
}

.formstatus{
    margin-top: 40px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#alert-caps{
    display: block;
    color:rgb(230, 86, 86);
    font-weight: 600;
    margin-bottom: 5px;
    
}

.modelPopup{
    width: 400px;
    max-width: 95%;
    border-radius: 10px;
    margin: 1.5rem auto;
}
.modelPopup2{
    padding: 20px;
}
.popupicon{
    text-align: center;
    margin-bottom: 5px;
}
.popupicon i{
    font-size: 3rem;
}