body.active-modal2 {
    overflow-y: hidden;
}

.btn-modal2 {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal2, .overlay2 {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay2 {
    background: rgba(49,49,49,0.8);
}
.modal-content2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.modal-content2 h2{
    font-weight: 400;
}

.btns2 {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
 }
 
.Add-modal2{
    padding: 10px;
    color: white;
    background-color: green;
    border: 0px;
    width: 110px;
    font-weight: 500;
}
.close-modal2{
    padding: 10px;
    color: black;
    background-color: gray;
    border: 0px;
    width: 110px;
    font-weight: 500;
}

@media screen and (max-width: 480px) {
   .modal-content2 h2{
    font-weight: 200;
   }
  }
