.Dashboard_graph_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dashboard_table {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.dashboard_table table {
  width: 80%;
}

.dashboard_table th,
.dashboard_table td {
  font-size: 0.8rem;
  padding: 10px;
}

.dashBoardBtn {
  display: flex;
  justify-content: flex-end;
}

.dashBoardBtn button {
  outline: none;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9);' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.Dashboard_graph_section .heading {
  font-weight: 600;
  text-align: center;
}

.dashboard .dashboardOptions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}