.info {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.verification_input_box {
  margin-top: 0.45rem;
}

.verification_input_box input {
  font-size: 0.9rem;
}

.verification_title {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.verification_Btn {
  display: flex;
  gap: 10px;
}

.p-data {
  background-color: red;
}

.gifimage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 85px;
  min-height: 65vh;
}

.gifimage img {
  height: 150px;
  width: 150px;
}

.form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}

@media (min-width:786px) {
  .modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
  }

  .gifimage img {
    height: 150px;
    width: 150px;
  }
}