.homePage{
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 140px);
}
.homePage_container{
    /* background-image: url("./Homepages.jpg"); */
    background-color: beige;
    padding: 40px;
    box-shadow: 2px 2px 6px grey; 
}
.homeOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
     gap: 20px;
     padding: 30px;
}
.homeOptions a{
    text-decoration: none;
}
.homePageHeadingmain{
    color: rgb(23, 109, 44);
    font-weight: 900;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.homePageHeading{
    color: rgb(47, 49, 47);
    font-weight: 600;
    letter-spacing: 2px;
}

.homeOption_box{
    background-color: #28A745;
    /* width: 300px; */
    /* height: 80px; */
    padding: 30px ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    /* box-shadow: 0px 2px 3px gray; */
    transition: 0.45s;

}
.homeOption_box a{
    text-decoration: none;
    list-style: 0;
}
.homeOption_title_2{
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
}


.homeOption_box:hover{
    color: #fff;
    border: 1px solid gray;
}
