body{
    margin: 0;
    padding: 0;
}

.images{
    background-color: rgb(229, 230, 242);
    padding: 40px;
}
img{
    background-repeat: no-repeat;
    height: 90px;
    width: 350px;
    position: relative;
    right: 50px;
    bottom: 20px;
}
.homeOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
     gap: 20px;
     padding: 30px;
}
.homeOptions a{
    text-decoration: none;
}

.homePageHeading{
    color: rgb(47, 49, 47);
    font-weight: 600;
    letter-spacing: 2px;
}

.homeOption_box{
    background-color: #28A745;
    width: 300px;
    height: 80px;
    padding: 30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    /* box-shadow: 0px 2px 3px gray; */
    transition: 0.45s;

}
.homeOption_box a{
    text-decoration: none;
    list-style: 0;
}
.homeOption_title_2{
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
}
.homeOption_box:hover{
    color: #fff;
    border: 1px solid gray;
}

@media screen and (max-width: 680px) {

    .homeOption_box{
        background-color: #28A745;
        width: 200px;
        height: 75px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        list-style: none;
        transition: 0.45s;
    
    }
    .homeOption_title_2{
        padding: 0;
        margin: 0;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        list-style: none;
    }
    .homePageHeading{
        color: rgb(47, 49, 47);
        font-weight: 500;
        letter-spacing: 2px;
    }
  }
