.dashboard{
  width: 100%;
  margin: 20px auto;
}
.Dashboard_graph_section{
  align-items: center;
}
.dashboard_table{
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.dashboard_table table{
  width: 80%;
}
.dashboard_table tr{
  background-color: #28A745;
}
.dashboard_table th,
.dashboard_table td{
  font-size: 0.8rem;
  padding: 10px;
}


.custom-toggler.navbar-toggler {
  border-color: white;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9);' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") ;
}

.navbar_Section{
  background-color: #28A745;
}
