*{
    margin: 0;
    padding: 0;
}

.addInternship,
.dashboard,
.deleteOldSection,
.verificationPage{
  padding: 60px 0;
  background: url(https://vit.edu.in/images/body_bg.png) no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
}



:root{
  --blue:#008FFB;
  --black:#212529;
  --color3:#E8ECF7;
}

a,p{
  text-decoration: none !important;
  list-style: none;
}


table {
  width: 100%;
}

tr{
  background-color: #212529;
}

th {
  padding: 20px 15px;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--blue);
  white-space: nowrap;
}

td {
  padding: 15px;
  text-align: left;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  white-space: nowrap;
}